.title {
  margin-bottom: 10px;
}

.price {
  margin: 16px 0 24px;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

.gallery {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  overflow: hidden;
}

.imageContainer {
  width: 290px;
  height: 310px;
  border-radius: 10px;
  background-color: var(--color-gray);
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  margin-bottom: 44px;
}

.tabLinksWrapper {
  margin-bottom: 44px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.2);
}

.linksList {
  display: flex;
  gap: 40px;
  padding-bottom: 24px;
}

.tabLink {
  position: relative;
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  color: var(--color-black);
}

.tabLink::after {
  display: none;
  position: absolute;
  content: '';
  top: 47px;
  right: 0;
  left: 0;
  height: 5px;
  background-color: var(--color-main);
}

.active.tabLink::after {
  display: block;
}

.contentWrapper {
  display: flex;
  gap: 24px;
}

.featuresReviewsWrapper {
  width: 430px;
  height: 532px;
  overflow-y: auto;
}

.formWrapper {
  flex-grow: 1;
  height: 532px;
}