.title {
  margin-bottom: 10px;
}

.price {
  margin: 16px 0 24px;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

.gallery {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.imageContainer {
  width: 290px;
  height: 310px;
  border-radius: 10px;
  background-color: var(--color-gray);
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  margin-bottom: 44px;
}