body {
  margin: 0;
  font-weight: var(--font-weight-normal);
  color: var(--color-body-text);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}