body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: var(--font-weight-bold);
}

h1 {
  margin-bottom: 56px;
  text-align: center;
  color: var(--color-main);
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
  color: var(--color-black);
}