.reviewTop {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  line-height: 1.25;
  color: var(--color-main);
  background-color: var(--color-gray);
}

.title {
  margin-bottom: 4px;
}

.rating {
  display: flex;
  gap: 4px;
}

.starIcon {
  fill: var(--color-gray);
  stroke: var(--color-gray);
}

.starIcon.painted {
  fill: var(--color-secondary);
  stroke: var(--color-secondary);
}